name: Sync to Amazon ECS

env:
  aws_region: eu-west-2
  s3_bucket: exercism-v3-icons

on:
  push:
    branches:
      - main
  schedule:
    - cron: 50 4 * * *
  workflow_dispatch:

jobs:
  deploy:
    name: Upload icons to S3
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_DEPLOY_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEPLOY_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.aws_region }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Upload assets to s3
        run: |
          aws s3 sync exercises    s3://${{ env.s3_bucket }}/exercises/    --acl public-read --no-progress --cache-control max-age=31536000
          aws s3 sync tracks       s3://${{ env.s3_bucket }}/tracks/       --acl public-read --no-progress --cache-control max-age=31536000
          aws s3 sync placeholders s3://${{ env.s3_bucket }}/placeholders/ --acl public-read --no-progress --cache-control max-age=31536000
          aws s3 sync key-features s3://${{ env.s3_bucket }}/key-features/ --acl public-read --no-progress --cache-control max-age=31536000
          aws s3 sync meta         s3://${{ env.s3_bucket }}/meta/       --acl public-read --no-progress --cache-control max-age=31536000
